Checks: '
-*,
readability-function-size,
readability-identifier-naming'

WarningsAsErrors: '*'
HeaderFilterRegex: '.*'

CheckOptions:
  - { key: readability-identifier-naming.ClassCase,          	value: CamelCase  }
  - { key: readability-identifier-naming.VariableCase, 		value: camelBack  }
  - { key: readability-identifier-naming.EnumCase,      	value: CamelCase  }
  - { key: readability-identifier-naming.EnumConstantCase, 	value: camelBack  }
  - { key: readability-identifier-naming.FunctionCase,  	value: camelBack  }
  - { key: readability-identifier-naming.ParameterCase, 	value: camelBack  }
  - { key: readability-identifier-naming.NamespaceCase, 	value: lower_case }
  - { key: readability-identifier-naming.StructCase,    	value: CamelCase  }
  - { key: readability-function-size.LineThreshold,     value: 150 }
  - { key: readability-function-size.StatementThreshold,value: 108 }
  - { key: readability-function-size.NestingThreshold,  value: 6 }
  - { key: readability-function-size.VariableThreshold, value: 19 }
  - { key: readability-function-size.ParameterThreshold,value: 9 }
